{% apply spaceless %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <title>{{SITE_TITLE}} - {% if Debug %}DASHBOARD{% else %}Hello...!!{% endif %}</title>
    <style>{% include '/assets/bootstrap.min.css.twig' %}</style>
    <script>{% include '/assets/bootstrap.min.js.twig' %}</script>
    <style>
      .container {
        max-width: 960px;
      }
      pre {
        background: #f4f4f4;
        font-size: 0.75rem;
      }
      .table {
        font-size: 0.875rem;
      }
      .table th {
        white-space: nowrap;
        font-weight: normal;
      }
    </style>
  </head>
  <body class="bg-light">
    {% if Debug %}
    {% include '/utils/flash-message.twig' %}

    <div class="container-fluid mt-5 mb-3">
      <div class="row">
        <div class="col">
          <h1 class="h5 text-center fw-lighter">DASHBOARD</h1>
        </div>
      </div>
    </div>

    <div class="container mb-5">
      <div class="row">
        <div class="col">
          <h2 class="h1 card-title fw-lighter border-top pt-4">SETUP.</h2>
          <p class="card-text mt-3">
            設定ファイルを変更した場合は、必ずヘルスチェックをオススメします。ヘルスチェックではメールの送受信テストから、データベースの作成および書き込みテストを行います。
          </p>
          <p class="text-danger">
            <small>本番環境に公開する時はデバッグモードを無効にしてください。デバッグモードが無効の時はこのページは表示されませんが、ヘルスチェックは利用できます。</small>
          </p>
          <div class="mt-3">
            <a href="{{Router.health_check}}" class="btn btn-dark shadow-none px-5">ヘルスチェック</a>
          </div>
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs justify-content-sm-center px-3" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="how-to-tab" data-bs-toggle="tab" href="#how-to" role="tab" aria-controls="how-to" aria-selected="true">HTML</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="library-tab" data-bs-toggle="tab" href="#library" role="tab" aria-controls="library" aria-selected="false">CSS and JavaScript</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="twig-tab" data-bs-toggle="tab" href="#twig" role="tab" aria-controls="twig" aria-selected="false">Twig</a>
      </li>
    </ul>

    <div class="bg-white">
      <div class="container py-5">

        <div class="tab-content">
          <div class="tab-pane active" id="how-to" role="tabpanel" aria-labelledby="how-to-tab">
            <h2 class="h6 text-secondary fw-light">How to use</h2>
            <ol class="list-group list-group-numbered rounded-0">
              <li class="list-group-item d-flex justify-content-between align-items-start bg-transparent ps-0 ps-sm-3 border-start-0 border-end-0 rounded-0">
                <div class="ms-2 me-auto w-100">
                  <div class="h4 fw-bold">formタグのPOSTを指定</div>
                  <p>action属性に <code>action="{{Router.mailer}}"</code> を、method属性に <code>method="post"</code> を設定します。
                  あとは自由にinput要素, textarea要素などを追加しましょう。</p>
                  <pre class="rounded text-secondary p-3 mt-2"><code>&lt;form id="mailer-form" method="post" action="{{Router.mailer}}"&gt;
  &lt;input type="text" name="firstname" value="" /&gt;
  &lt;input type="text" name="lastname" value="" /&gt;
  &lt;input type="email" name="email" value="" /&gt;
  :
  &lt;input type="submit" name="submit" value="送信" /&gt;
&lt;/form&gt;</code></pre>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start bg-transparent ps-0 ps-sm-3 border-start-0 border-end-0">
                <div class="ms-2 me-auto w-100">
                  <div class="h4 fw-bold">CSRFトークンの導入</div>
                  <div class="my-3 py-2 px-3 rounded border border-success text-success" style="font-size:0.875rem">
                    <div class="mb-1 fw-bold">CSRF対策</div>
                    <p class="m-0">外部からの悪意ある攻撃からWebアプリケーションを守るために、メールプログラムはCSRFトークンを持たないリクエストを一切受け付けません。</p>
                  </div>
                  <div class="mb-1 fw-bold">(A) 独自のHTMLページからPOSTする場合</div>
                  <p>Ajaxで <a href="{{Router.api.json}}" target="_blank">API経由</a> のCSRFトークンを挿入する必要があります。Ajaxに必要なJavaScriptはすべて同梱しています。</p>
                  <p>こちらの <a href="{{Router.csrf.js}}" target="_blank">JavaScriptファイル</a> を読み込み、
                    formタグのidまたはclassを <code>applyCSRF()</code> の第一引数に渡します。指定のformタグ内にCSRFタグが自動で挿入されます。</p>
                  <pre class="rounded text-secondary p-3 mt-2"><code>&lt;script type="text/javascript" src="{{Router.csrf.js}}"&gt;&lt;/script&gt;
&lt;script&gt;window.applyCSRF('#mailer-form');&lt;/script&gt;</code></pre>
                  <hr />
                  <div class="mb-1 fw-bold">(B) Twigファイルを使用する場合</div>
                  <p>Twigファイルでは、あらかじめ用意されたTwig変数でCSRFトークンを設置できます。formタグ内に直接 <code>{{ '{{CSRF|raw}}' }}</code> を記載します。JavaScriptは不要で最も簡単なやり方です。</p>
                  <pre class="rounded text-secondary p-3 mt-2"><code>&lt;form id="mailer-form" method="post" action="{{Router.mailer}}"&gt;
  :
  {{ '{{CSRF|raw}}' }}
&lt;/form&gt;</code></pre>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start bg-transparent ps-0 ps-sm-3 border-start-0 border-end-0">
                <div class="ms-2 me-auto w-100">
                  <div class="h4 fw-bold">reCAPTCHAの導入</div>
                  <div class="my-3 py-2 px-3 rounded border border-success text-success" style="font-size:0.875rem">
                    <div class="mb-1 fw-bold">BOT対策</div>
                    <p class="m-0">reCAPTCHAの使用は任意ですが、導入することでBOTによるスパムを防ぎます。有効にするには<a href="https://www.google.com/recaptcha/about/" target="_blank" class="link-success">Google reCAPTCHA</a>からサイトキーを取得してください。環境設定ファイル(.env)にもサイトキーとシークレットキーを記載してください。</p>
                  </div>
                  <div class="mb-1 fw-bold">(A) 独自のHTMLページからPOSTする場合</div>
                  <p>Google APIのJavaScriptと、こちらの <a href="{{Router.recaptcha.js}}" target="_blank">JavaScriptファイル</a> を読み込みます。
                    <code>applyReCaptcha()</code> の第一引数にformタグのidまたはclassを、第二引数にサイトキーを渡します。下記の YOUR_SITE_KEY にはreCAPTCHAで取得したサイトキーを記載します。</p>
                  <pre class="rounded text-secondary p-3 mt-2"><code>&lt;script type="text/javascript" src="https://www.google.com/recaptcha/api.js?render=YOUR_SITE_KEY"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="{{Router.recaptcha.js}}"&gt;&lt;/script&gt;
&lt;script&gt;window.applyReCaptcha('#mailer-form', 'YOUR_SITE_KEY');&lt;/script&gt;</code></pre>
                  <hr />
                  <div class="mb-1 fw-bold">(B) Twigファイルを使用する場合</div>
                  <p>TwigファイルではTwig変数でreCAPTCHAを設置できます。<code>{{ '{{reCAPTCHA.script|raw}}' }}</code>
                    でJavaScriptを読み込み、<code>applyReCaptcha()</code> の第一引数にformタグのidまたはclassを、第二引数に <code>{{ '{{reCAPTCHA.key}}' }}</code> でサイトキーを渡します。</p>
                  <pre class="rounded text-secondary p-3 mt-2"><code>{{ '{{reCAPTCHA.script|raw}}' }}
&lt;script&gt;window.applyReCaptcha('#mailer-form', '{{'{{reCAPTCHA.key}}'}}');&lt;/script&gt;</code></pre>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start bg-transparent ps-0 ps-sm-3 border-start-0 border-end-0">
                <div class="ms-2 me-auto w-100">
                  <div class="h4 fw-bold">環境設定</div>
                  <p>env.sample.txt を .env にリネームして内容を編集します。.envの環境設定は必ず settings ディレクトリ内の各PHPファイルで読み込まれ定義されます。</p>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start bg-transparent ps-0 ps-sm-3 border-start-0 border-end-0">
                <div class="ms-2 me-auto w-100">
                  <div class="h4 fw-bold">HTMLフォーム情報</div>
                  <p>設置するフォームの要素に合わせて settings/form.php を編集しましょう。また、他のCMSやフレームワーク等との連携があれば必要に応じて settings ディレクト内の database.php, validate.php, mail.php 等も編集し環境設定を上書きできます。</p>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start bg-transparent ps-0 ps-sm-3 border-start-0 border-end-0">
                <div class="ms-2 me-auto w-100">
                  <div class="h4 fw-bold">フォームの雛形</div>
                  <p>templatesディレクトリ内の各Twigファイルを編集して、フォームのデザインをカスタマイズします。</p>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start bg-transparent ps-0 ps-sm-3 border-start-0 border-end-0">
                <div class="ms-2 me-auto w-100">
                  <div class="h4 fw-bold">メールの雛形</div>
                  <p>送信メールのテンプレートは templates/mailディレクトリ内にある admin.mail.twig と user.mail.twig を編集してカスタマイズします。</p>
                </div>
              </li>
            </ol>
          </div>

          <div class="tab-pane" id="library" role="tabpanel" aria-labelledby="library-tab">
            <h2 class="h6 text-secondary fw-light pb-2 border-bottom">Built-in Library</h2>
            <ul class="list-group list-group-flush border-bottom">
              <li class="list-group-item d-flex justify-content-between align-items-start bg-transparent px-0 px-sm-3 border-start-0 border-end-0">
                <div class="w-100">
                  <div class="h4 fw-bold">CSRF JavaScript</div>
                  <a href="{{ Router.csrf.js }}" target="_blank">{{ Router.csrf.js }}</a><br />
                  指定したformタグ内に CSRFトークン をAjaxで取得して挿入します。
<pre class="rounded text-secondary p-3 mt-2"><code>&lt;script type="text/javascript" src="{{Router.csrf.js}}"&gt;&lt;/script&gt;
&lt;script&gt;window.applyCSRF('#mailer-form');&lt;/script&gt;</code></pre>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start bg-transparent px-0 px-sm-3 border-start-0 border-end-0">
                <div class="w-100">
                  <div class="h4 fw-bold">reCAPTCHA JavaScript</div>
                  <a href="{{ Router.recaptcha.js }}" target="_blank">{{ Router.recaptcha.js }}</a><br />
                指定したformタグ内に Google reCAPTCHA のトークンをAjaxで取得して挿入します。
<pre class="rounded text-secondary p-3 mt-2"><code>&lt;script src="https://www.google.com/recaptcha/api.js?render=YOUR_SITE_KEY"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="{{Router.recaptcha.js}}"&gt;&lt;/script&gt;
&lt;script&gt;window.applyReCaptcha( '#mailer-form', 'YOUR_SITE_KEY' );&lt;/script&gt;</code></pre>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start bg-transparent px-0 px-sm-3 border-start-0 border-end-0">
                <div class="w-100">
                  <div class="h4 fw-bold">Bootstrap JavaScript</div>
                  <a href="{{ Router.bootstrap.js }}" target="_blank">{{ Router.bootstrap.js }}</a><br />
                  Bootstrap のJavascriptを使用できます。
<pre class="rounded text-secondary p-3 mt-2"><code>&lt;script type="text/javascript" src="{{Router.bootstrap.js}}"&gt;&lt;/script&gt;</code></pre>
                </div>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start bg-transparent px-0 px-sm-3 border-start-0 border-end-0">
                <div class="w-100">
                  <div class="h4 fw-bold">Bootstrap Style</div>
                  <a href="{{ Router.bootstrap.css }}" target="_blank">{{ Router.bootstrap.css }}</a><br />
                Bootstrap のCSSを使用できます。
<pre class="rounded text-secondary p-3 mt-2"><code>&lt;link href="{{Router.bootstrap.css}}" rel="stylesheet" type="text/css" media="all" /&gt;</code></pre>
                </div>
              </li>
            </ul>
          </div>

          <div class="tab-pane" id="twig" role="tabpanel" aria-labelledby="twig-tab">
            <h2 class="h6 text-secondary fw-light pb-2 border-bottom">Twig Template</h2>
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead class="table-dark">
                  <tr><th scope="col">templates内のTwigファイル</th><th>説明</th></tr>
                </thead>
                <tbody>
                  <tr><th>index.twig</th><td>入力画面</td></tr>
                  <tr><th>confirm.twig</th><td>確認画面</td></tr>
                  <tr><th>complete.twig</th><td>完了画面</td></tr>
                  <tr><th>validate.twig</th><td>バリデーションのエラー画面</td></tr>
                  <tr><th>exception.twig</th><td>例外投稿のエラー画面</td></tr>
                  <tr><th>mail/admin.mail.twig</th><td>管理者への通知メール</td></tr>
                  <tr><th>mail/user.mail.twig</th><td>ユーザーへの返信メール</td></tr>
                </tbody>
              </table>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead class="table-dark">
                  <tr><th scope="col">Twig変数名</th><th>出力内容</th><th>使用できるTwigファイル</th></tr>
                </thead>
                <tbody>
                  <tr>
                    <th>{{'{{ SITE_TITLE }}'}}</th>
                    <td>サイト名</td>
                    <td>index.twig<br />confirm.twig<br />complete.twig<br />validate.twig<br />exception.twig<br />admin.mail.twig<br />user.mail.twig</td>
                  </tr>
                  <tr>
                    <th>{{'{{ SITE_URL }}'}}</th>
                    <td>サイトルートのURL</td>
                    <td>index.twig<br />confirm.twig<br />complete.twig<br />validate.twig<br />exception.twig<br />admin.mail.twig<br />user.mail.twig</td>
                  </tr>
                  <tr><th>{{'{{ Action.url }}'}}</th><td>formタグのaction属性のURLを自動設定</td><td>index.twig<br />confirm.twig</td></tr>
                  <tr>
                    <th>{{'{% for post in Posts %}'}}<br />
                        {{'{{ post.name | raw }}'}}<br />
                        {{'{{ post.value | raw }}'}}<br />
                        {{'{% endfor %}'}}
                    </th>
                    <td>POSTされた値の配列。<br />配列の中はname属性のラベル名とvalue属性の値を出力。<br />値の継承に隠されたinputタグを含むためraw指定が必要です。</td>
                    <td>confirm.twig</td>
                  </tr>
                  <tr>
                    <th>{{'{% for message in Errors %}'}}<br />
                        {{'{{ message }}'}}<br />
                        {{'{% endfor %}'}}
                    </th>
                    <td>検証されたエラー内容の配列。<br />配列の中は検証結果のエラーメッセージ</td>
                    <td>validate.twig</td>
                  </tr>
                  <tr><th>{{'{{ ExceptionMessage }}'}}</th><td>システムが拒否した内容のメッセージ</td><td>exception.twig</td></tr>
                  <tr><th>{{'{{ Return.url }}'}}</th><td>設定で指定された戻り先のURL</td><td>complete.twig</td></tr>
                  <tr><th>{{'{{ CSRF | raw }}'}}</th><td>CSRFタグのHTML</td><td>index.twig<br />confirm.twig</td></tr>
                  <tr><th>{{'{{ reCAPTCHA.script | raw }}'}}</th><td>reCAPTCHAのHTML</td><td>index.twig<br />confirm.twig</td></tr>
                  <tr><th>{{'{{ reCAPTCHA.key }}'}}</th><td>reCAPTCHAのサイトキー</td><td>index.twig<br />confirm.twig</td></tr>
                  <tr>
                    <th>{{'{{ name属性 }}'}}</th>
                    <td>該当するname属性からPOSTされたvalue値。<br />例えば name="fullname" のvalue属性の値を {{'{{ fullname }}'}} で表示します。</td>
                    <td>confirm.twig<br />admin.mail.twig<br />user.mail.twig</td>
                  </tr>
                  <tr><th>{{'{{ __POST_ALL }}'}}</th><td>POSTされたvalue値の一覧を自動整形</td><td>admin.mail.twig<br />user.mail.twig</td></tr>
                  <tr><th>{{'{{ __DATE }}'}}</th><td>POSTされた時刻</td><td>admin.mail.twig<br />user.mail.twig</td></tr>
                  <tr><th>{{'{{ __IP }}'}}</th><td>クライアントのIP</td><td>admin.mail.twig<br />user.mail.twig</td></tr>
                  <tr><th>{{'{{ __HOST }}'}}</th><td>サイトのホスト名</td><td>admin.mail.twig<br />user.mail.twig</td></tr>
                  <tr><th>{{'{{ __URL }}'}}</th><td>POSTされたページのURL</td><td>admin.mail.twig<br />user.mail.twig</td></tr>
                </tbody>
              </table>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead class="table-dark">
                  <tr><th scope="col">Twigインクルードライブラリ</th><th>説明</th></tr>
                </thead>
                <tbody>
                  <tr><th>{{'{% include "/assets/bootstrap.min.css.twig" %}'}}</th><td>Bootstrap のインラインCSS</td></tr>
                  <tr><th>{{'{% include "/assets/bootstrap.min.js.twig" %}'}}</th><td>Bootstrap のインラインJavaScript</td></tr>
                  <tr><th>{{'{% include "/utils/google-recaptcha-copyright.twig" %}'}}</th><td>reCAPTCHA使用時にGoogleクレジットをインライン表示するHTMLタグ</td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class="pb-5 text-center fw-lighter">
        <a href="https://github.com/elkulo/Mailer" target="_brank" title="GitHub - elkulo/Mailer" class="link-dark">
          <svg class="icon icon-github" style="width: 32px; height: 32px;" aria-hidden="true" role="img"><use href="#icon-github" xlink:href="#icon-github"></use></svg>
        </a>
        <div class="mt-2">Powered by CHiDORi, from Mailer.<div>
      </div>
    </div>

    {% else %}

    <div class="d-flex justify-content-center align-items-center vh-100">
      <h1 class="text-center fw-lighter">Hello...!!</h1>
    </div>

  {% endif %}

  {% include '/utils/svg-icon.twig' %}
  </body>
</html>
{% endapply %}
