{##
 # 完了ページ
 #
 # Twigインクルードライブラリ
 #  {% include '/assets/bootstrap.min.css.twig' %}  Bootstrap Style のインラインCSS
 #  {% include '/assets/bootstrap.min.js.twig' %}   Bootstrap JavaScript のインラインJavaScript
 #
 # Twig定数
 #  {{__SITE_TITLE}}  サイトタイトル
 #  {{__SITE_URL}}    サイトURL
 #  {{__DATE}}        POSTされた時刻
 #  {{__IP}}          送信者のIP
 #  {{__HOST}}        送信元のサイトのホスト名
 #  {{__URL}}         送信元のページのURL
 #  {{__UA}}          送信者のユーザーエージェント
 #  {{__UUID}}        送信メールの識別ID
 #
 # Twig変数
 #  {{Return.url}}  設定で指定された戻り先のURL
 #}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <title>{{__SITE_TITLE}} - 送信の完了</title>
    <style>{% include '/assets/bootstrap.min.css.twig' %}</style>
    <script>{% include '/assets/bootstrap.min.js.twig' %}</script>
  </head>
  <body class="bg-light py-3 px-1 p-sm-5">
    <div class="container" style="max-width: 768px">
      <div class="row shadow-sm bg-white border rounded">
        <div class="col py-4 px-3 px-sm-5">
          <h1 class="h4 text-center">送信の完了</h1>
          <div class="my-3 py-5 px-4 bg-light rounded text-sm-center">
            <p>メッセージは正常に送信されました。</p>
            <p class="mb-0">{{__DATE}}</p>
          </div>
          <div class="d-grid gap-2 col-8 col-sm-4 mt-3 mx-auto">
            <a href="{{ Return.url }}" class="btn btn-success">
              ページに戻る
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
