{##
 # 入力ページ
 #
 # ### 外部HTMLのFORMタグからPOSTする場合はこのテンプレートは必要ありません。
 #
 # Twigインクルードライブラリ
 #  {% include '/assets/bootstrap.min.css.twig' %}          Bootstrap Style のインラインCSS
 #  {% include '/assets/bootstrap.min.js.twig' %}           Bootstrap JavaScript のインラインJavaScript
 #  {% include '/utils/google-recaptcha-copyright.twig' %}  reCAPTCHA使用時にGoogleクレジットをインライン表示する場合のHTMLタグ
 #
 # Twig定数
 #  {{__SITE_TITLE}}  サイトタイトル
 #  {{__SITE_URL}}    サイトURL
 #
 # Twig変数
 #  {{Guard|raw}}             NonceトークンのHTML
 #  {{reCAPTCHA.script|raw}}  reCAPTCHAのHTML
 #  {{reCAPTCHA.key}}         reCAPTCHAのサイトキー
 #}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <title>{{__SITE_TITLE}} - Mailer</title>
    <style>{% include '/assets/bootstrap.min.css.twig' %}</style>
    <script>{% include '/assets/bootstrap.min.js.twig' %}</script>
  </head>
  <body class="bg-light py-3 px-1 p-sm-5">
    <div class="container" style="max-width: 768px">
      <div class="row shadow-sm bg-white border rounded">
        <div class="col py-4 px-3 px-sm-5">
          <form id="mailer-form" class="needs-validation" method="post" action="{{ Action.url }}" enctype="multipart/form-data" novalidate>

            <div class="mb-3">
              <div class="form-label">件名</div>
              <div class="form-check form-check-inline">
                <input type="radio" id="CustomerSubject1" class="form-check-input" name="customerTitle" value="お問い合わせ（一般の方）" checked>
                <label class="form-check-label" for="CustomerSubject1">お問い合わせ（一般の方）</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="radio" id="CustomerSubject2" class="form-check-input" name="customerTitle" value="仕事のご相談（事業関係の方）">
                <label class="form-check-label" for="CustomerSubject2">仕事のご相談（事業関係の方）</label>
              </div>
            </div>

            <div class="mb-3">
              <label for="CustomerType" class="form-label">種別</label>
              <select name="customerType" id="CustomerType" class="form-select" required>
                <option value="Webサイトの制作について" selected>Webサイトの制作について</option>
                <option value="チラシ・ポスター等の印刷物の制作について">チラシ・ポスター等の印刷物の制作について</option>
                <option value="グラフィックデザインについて">グラフィックデザインについて</option>
                <option value="執筆関連について">執筆関連について</option>
                <option value="写真撮影について">写真撮影について</option>
                <option value="その他">その他</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="CustomerName" class="form-label">お名前</label>
              <input type="text" id="CustomerName" class="form-control" name="customerName" placeholder="お名前" required>
              <div class="invalid-feedback">
                お名前を記入してください。
              </div>
            </div>

            <div class="mb-3">
              <label for="CustomerPhonetic" class="form-label">フリガナ</label>
              <input type="text" id="CustomerPhonetic" class="form-control" name="customerNameKana" placeholder="フリガナ" required>
              <div class="invalid-feedback">
                フリガナを記入してください。
              </div>
            </div>

            <div class="mb-3">
              <label for="CustomerDomicile" class="form-label">ご住所<span class="badge rounded-pill bg-secondary ms-2">任意</span></label>
              <input type="text" id="CustomerDomicile" class="form-control" name="address" placeholder="東京都千代田区">
            </div>

            <div class="mb-3">
              <label for="CustomerEmail" class="form-label">メールアドレス</label>
              <input type="email" id="CustomerEmail" class="form-control" name="email" placeholder="mail@example.com" required>
              <div class="invalid-feedback">
                メールアドレスを記入してください。
              </div>
            </div>

            <div class="mb-3">
              <label for="CustomerTell" class="form-label">電話番号<span class="badge rounded-pill bg-secondary ms-2">任意</span></label>
              <input type="tel" id="CustomerTell" class="form-control" name="phoneNumber" placeholder="03-1234-00XX">
            </div>

            <div class="mb-3">
              <label for="CustomerComment" class="form-label">ご要望</label>
              <textarea id="CustomerComment" class="form-control" name="requestContent" placeholder="ご要望などお書きください..." rows="5" required></textarea>
              <div class="invalid-feedback">
                ご要望を記入してください。
              </div>
            </div>

            <div class="mb-3 form-check">
              <input type="checkbox" id="CustomerConsent" class="form-check-input" name="personalInformation" value="同意します" required>
              <label for="CustomerConsent" class="form-check-label" aria-describedby="consentHelp">個人情報の取扱について同意します。</label>
            </div>

            <div class="mb-3">
              <label for="UploadFile" class="form-label">添付画像<small class="d-inline-block text-secondary ms-2">(JPEG/GIF/PNG)</small></label>
              <input type="file" id="UploadFile" class="form-control" name="uploadFile" accept="image/jpeg, image/gif, image/png">
              <button type="button" class="btn btn-sm btn-secondary shadow-none mt-2" onclick="document.getElementById('UploadFile').value = ''">
                画像クリア
              </button>
            </div>

            <div class="d-grid gap-2 col-10 col-sm-6 mt-3 mx-auto">
              <button type="submit" class="btn btn-primary">上記内容を送信する</button>
            </div>

            {# NOTE: CSRFセキュリティのためNonceトークンをFormタグの内側に出力 #}
            {{ Guard|raw }}
          </form>
        </div>
      </div>
    </div>

    {# NOTE: reCAPTCHAのクレジットをインラインで表示する場合 #}
    {% include '/utils/google-recaptcha-copyright.twig' %}

  {# NOTE: reCAPTCHAを使用する場合 #}
  {% if reCAPTCHA.key %}
  {{ reCAPTCHA.script|raw }}
  <script>applyReCaptcha( '#mailer-form', '{{ reCAPTCHA.key }}' );</script>
  {% endif %}

  </body>
</html>
