{##
 # 検証ページ
 #
 # Twigインクルードライブラリ
 #  {% include '/assets/bootstrap.min.css.twig' %}  Bootstrap Style のインラインCSS
 #  {% include '/assets/bootstrap.min.js.twig' %}   Bootstrap JavaScript のインラインJavaScript
 #
 # Twig定数
 #  {{__SITE_TITLE}}  サイトタイトル
 #  {{__SITE_URL}}    サイトURL
 #
 # Twig変数
 #  {% for message in Errors %}  検証されたエラー内容の配列
 #   |- {{message}}              検証結果のエラー内容のメッセージ
 #}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <title>{{__SITE_TITLE}} - 入力内容の検証</title>
    <style>{% include '/assets/bootstrap.min.css.twig' %}</style>
    <script>{% include '/assets/bootstrap.min.js.twig' %}</script>
  </head>
  <body class="bg-light py-3 px-1 p-sm-5">
    <div class="container" style="max-width: 768px">
      <div class="row shadow-sm bg-white border rounded">
        <div class="col py-4 px-3 px-sm-5">
          <h1 class="h4">入力内容の検証</h1>
          <p class="text-muted" style="font-size:0.875rem">下記をご確認の上、内容の修正をお願いいたします。</p>
          <div class="px-3 pt-4 pb-2 text-sm-center text-danger border-top border-bottom border-danger" style="font-size:0.875rem">
            {% for message in Errors %}
              <p>{{ message }}</p>
            {% endfor %}
          </div>
          <div class="d-grid gap-2 col-10 col-sm-6 mt-3 mx-auto">
            <button onClick="history.back()" class="btn btn-danger">
              編集に戻る
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
